<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{$lang.home}{if $ur_here} - {$ur_here} {/if}</title>
    <meta name="Copyright" content="Hbdata Design." />
    <link href="templates/public.css" rel="stylesheet" type="text/css">
    {include file="javascript.htm"}
</head>
<body>
<div id="Wrap">
    {include file="header.htm"}
    <div id="Left">{include file="menu.htm"}</div>
    <div id="Main">
        {include file="ur_here.htm"}
        <div id="module" class="mainBox" style="{$workspace.height}">
            <h3>{$ur_here}</h3>
            <ul class="tab">
                <li><a href="module.php"{if $rec eq 'default'} class="selected"{/if}>{$lang.module_cloud}</a></li>
                <li><a href="module.php?rec=local"{if $rec eq 'local'} class="selected"{/if}>{$lang.module_local}</a></li>
                <li><a href="module.php?rec=uninstall"{if $rec eq 'uninstall'} class="selected"{/if}>{$lang.module_uninstall}</a></li>
            </ul>
             {if $rec eq 'default'} 模块扩展 
            <div class="selector"></div>
            <div class="cloudList">
            </div>
            <script type="text/javascript">get_cloud_list('module', '{$get}', '{$localsite}')</script>
            <div class="pager"></div>
             {/if} 
             {if $rec eq 'local'} 本地安装 
            <div class="install">
                <h2>{$lang.module_local_cue}</h2>
                <form action="module.php?rec=install" method="post" enctype="multipart/form-data">
                    <input type="file" name="zipfile" size="38" class="inpFlie" />
                    <input type="hidden" name="token" value="{$token}" />
                    <input name="submit" class="btn" type="submit" value="现在安装" />
                </form>
            </div>
             {/if} 
             {if $rec eq 'uninstall'} 卸载模块 
            <div class="uninstall">
                <div class="handbook">{$lang.module_uninstall_cue}</div>
                <div class="list">
                    <h2>{$lang.module_uninstall_list}</h2>
                    <ul>
                         {foreach from=$uninstall_list item=module} 
                        <li><em>{$module}</em><a href="module.php?rec=del&token={$token}&extend_id={$module}">{$lang.module_uninstall_btn}</a></li>
                         {/foreach} 
                    </ul>
                </div>
            </div>
             {/if} 
        </div>
    </div>
    {include file="footer.htm"}
</div>
</body>
</html>