<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{$lang.home}{if $ur_here} - {$ur_here} {/if}</title>
    <meta name="Copyright" content="HbData Design." />
    <link href="templates/public.css" rel="stylesheet" type="text/css">
    {include file="javascript.htm"}
</head>
<body>
<div id="dcWrap">
    {include file="header.htm"}
    <div id="dcLeft">{include file="menu.htm"}</div>
    <div id="dcMain">
        {include file="ur_here.htm"}
        <div id="permission" class="mainBox" style="{$workspace.height}">
            <h3> <a href="{$action_link.href}" class="actionBtn">{$action_link.text}</a>{$ur_here}</h3>
            {if $rec eq 'default'} 权限列表
            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                <tr>
                    <th align="center">{$lang.permission_id}</th>
                    <th align="center">{$lang.permission_title}</th>
                    <th align="center">{$lang.permission_description}</th>
                    <th align="center">{$lang.handler}</th>
                </tr>
                {foreach from=$permission_list item=permission}
                <tr>
                    <td align="center">{$permission.permission_id}</td>
                    <td>{$permission.permission_title}</td>
                    <td>{$permission.permission_description}</td>
                    <td align="center"><a href="permission.php?rec=edit&id={$permission.permission_id}">{$lang.edit}</a> | <a href="permission.php?rec=del&id={$permission.permission_id}">{$lang.del}</a></td>
                </tr>
                {/foreach}
            </table>
            {/if}
            {if $rec eq 'add'} 权限添加
            <form action="permission.php?rec=insert" method="post">
                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                    <tr>
                        <td width="100" align="right">{$lang.permission_title}</td>
                        <td>
                            <input type="text" name="permission_title" size="40" class="inpMain" />
                        </td>
                    </tr>
                    <tr>
                        <td width="100" align="right">{$lang.permission_description}</td>
                        <td>
                            <input type="text" name="permission_description" size="40" class="inpMain" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="hidden" name="token" value="{$token}" />
                            <input type="submit" name="submit" class="btn" value="{$lang.btn_submit}" />
                        </td>
                    </tr>
                </table>
            </form>
            {/if}
            {if $rec eq 'edit'} 权限编辑
            <form action="permission.php?rec=update" method="post">
                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                    <tr>
                        <td width="100" align="right">{$lang.permission_title}</td>
                        <td>
                            <input type="text" name="permission_title" size="40" class="inpMain" value="{$permission_info.permission_title}" />
                        </td>
                    </tr>
                    <tr>
                        <td width="100" align="right">{$lang.permission_description}</td>
                        <td>
                            <input type="text" name="permission_description" size="40" class="inpMain" value="{$permission_info.permission_description}" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="hidden" name="token" value="{$token}" />
                            <input type="hidden" name="id" value="{$permission_info.permission_id}" />
                            <input type="submit" name="submit" class="btn" value="{$lang.btn_submit}" />
                        </td>
                    </tr>
                </table>
            </form>
            {/if}
        </div>
    </div>
    {include file="footer.htm"}
</div>
</body>
</html>