<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{$lang.home}{if $ur_here} - {$ur_here} {/if}</title>
    <meta name="Copyright" content="HbData Design." />
    <link href="templates/public.css" rel="stylesheet" type="text/css">
    {include file="javascript.htm"}
</head>
<body>
<div id="Wrap">
    {include file="header.htm"}
    <div id="Left">{include file="menu.htm"}</div>
    <div id="Main">
        {include file="ur_here.htm"}
        <div class="mainBox" style="{$workspace.height}">
            {if $rec eq 'default'} 分类列表
            <h3><a href="{$action_link.href}" class="actionBtn add">{$action_link.text}</a>{$ur_here}</h3>
            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                <tr>
                    <th width="120" align="left">{$lang.category_name}</th>
                    <th align="left">{$lang.unique}</th>
                    <th width="80" align="center">{$lang.handler}</th>
                </tr>
                {foreach from=$category_manage item=unique_id}
                <tr>
                    <td align="left">{$lang.$unique_id}</a></td>
                    <td>{$unique_id}</td>
                    <td align="center"><a href="category_manage.php?rec=edit&category_unique_id={$unique_id}">{$lang.edit}</a> | <a href="category_manage.php?rec=del&category_unique_id={$unique_id}">{$lang.del}</a></td>
                </tr>
                {/foreach}
            </table>
            {/if}
            {if $rec eq 'add' || $rec eq 'edit'} 编辑分类或添加
            <h3><a href="{$action_link.href}" class="actionBtn">{$action_link.text}</a>{$ur_here}</h3>
            <form action="category_manage.php?rec={$form_action}" method="post">
                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                    {if $rec eq 'add'}
                    <tr>
                        <td width="80" align="right">{$lang.category_name}</td>
                        <td>
                            <input type="text" name="category_name" value="{$lang.$unique_id}" size="40" class="inpMain" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">{$lang.unique}</td>
                        <td>
                            <input type="text" name="unique_id" value="{$unique_id}" size="40" class="inpMain" />
                        </td>
                    </tr>
                    {/if}
                    {if $rec eq 'edit'}
                    <tr>
                        <td width="80" align="right">{$lang.category_name}</td>
                        <td>
                            <input type="hidden" name="old_category_name" value="{$lang.$unique_id}" size="40" class="inpMain" />
                            <input type="text" name="new_category_name"  value="{$lang.$unique_id}" size="40" class="inpMain" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">{$lang.unique}</td>
                        <td>
                            <input type="hidden" name="old_unique_id" value="{$unique_id}" size="40" class="inpMain" />
                            <input type="text" name="new_unique_id"  value="{$unique_id}" size="40" class="inpMain" />
                        </td>
                    </tr>
                    {/if}
                    <tr>
                        <td></td>
                        <td>
                            <input type="hidden" name="token" value="{$token}" />
                            <input type="hidden" name="cat_id" value="{$cat_info.cat_id}" />
                            <input name="submit" class="btn btnCategory" type="submit" value="{$lang.btn_submit}" />
                        </td>
                    </tr>
                </table>
            </form>
            {/if}
        </div>
    </div>
    {include file="footer.htm"}
</div>
</body>
</html>