<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{$lang.home}{if $ur_here} - {$ur_here} {/if}</title>
    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <meta name="Copyright" content="HbData Design." />
    <link href="./resources/css/public.css" rel="stylesheet" type="text/css">
    {include file="javascript.htm"}

</head>
<body>
<div id="Wrap"> {include file="header.htm"}
    <div id="Left">{include file="menu.htm"}</div>
    <div id="Main"> {include file="ur_here.htm"}
        <div id="index" class="mainBox" style="padding-top:18px;{$workspace.height}">
             {foreach from=$sys_info.folder_exists item=warning} 
            <div class="warning">{$warning}</div>
             {/foreach} 
            <div id="hbdataApi"></div>
             {if $rec eq 'default'}
            <div class="indexBox">
                <div class="boxTitle">{$lang.title_page}</div>
                <ul class="ipage">
                     {foreach from=$page_list item=page_list} 
                    <a href="page.php?name={$page_list.unique_id}&rec=edit"{if $page_list.level gt 0} class="child{$page_list.level}"{/if}>{$page_list.page_name}</a>
                     {/foreach} 
                    <div class="clear"></div>
                </ul>
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="indexBoxTwo">
                <tr>
                    <td width="65%" valign="top" class="pr">
                        <div class="indexBox">
                            <div class="boxTitle">{$lang.title_site_info}</div>
                            <ul>
                                <table width="100%" border="0" cellspacing="0" cellpadding="7" class="tableBasic">
                                    <tr>
                                        <td width="120">{$lang.num_page}：</td>
                                        <td><strong>{$sys_info.num_page}</strong></td>
                                        <td width="100">{$lang.num_article}：</td>
                                        <td><strong>{$sys_info.num_article}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>{$lang.num_product}：</td>
                                        <td><strong>{$sys_info.num_product}</strong></td>
                                        <td>{$lang.language}：</td>
                                        <td><strong>{$site.language}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>{$lang.rewrite}：</td>
                                        <td><strong> {if $site.rewrite} {$lang.open} {else} {$lang.close}<a href="system.php" class="cueRed ml">{$lang.open_cue}</a>
                                             {/if} </strong></td>
                                        <td>{$lang.charset}：</td>
                                        <td><strong>{$sys_info.charset}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>{$lang.if_sitemap}：</td>
                                        <td><strong> {if $site.sitemap} {$lang.open} {else} {$lang.close} {/if} </strong></td>
                                        <td>{$lang.site_theme}：</td>
                                        <td><strong>{$site.site_theme}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>{$lang.hbdata_version}：</td>
                                        <td><strong>{$site.hbdataphp_version}</strong></td>
                                        <td>{$lang.build_date}：</td>
                                        <td><strong>{$sys_info.build_date}</strong></td>
                                    </tr>
                                </table>
                            </ul>
                        </div>
                    </td>
                    <td valign="top" class="pl">
                        <div class="indexBox">
                            <div class="boxTitle">{$lang.title_admin_log}</div>
                            <ul>
                                <table width="100%" border="0" cellspacing="0" cellpadding="7" class="tableBasic">
                                    <tr>
                                        <th width="45%">{$lang.manager_log_ip}</th>
                                        <th width="55%">{$lang.manager_log_create_time}</th>
                                    </tr>
                                     {foreach from=$log_list item=log_list} 
                                    <tr>
                                        <td align="center">{$log_list.ip}</td>
                                        <td align="center">{$log_list.create_time}</td>
                                    </tr>
                                     {/foreach} 
                                </table>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="indexBox">
                <div class="boxTitle">{$lang.title_sys_info}</div>
                <ul>
                    <table width="100%" border="0" cellspacing="0" cellpadding="7" class="tableBasic">
                        <tr>
                            <td width="120" valign="top">{$lang.php_version}：</td>
                            <td valign="top">{$sys_info.php_ver} </td>
                            <td width="100" valign="top">{$lang.mysql_version}：</td>
                            <td valign="top">{$sys_info.mysql_ver}</td>
                            <td width="100" valign="top">{$lang.os}：</td>
                            <td valign="top">{$sys_info.os}({$sys_info.ip})</td>
                        </tr>
                        <tr>
                            <td valign="top">{$lang.max_filesize}：</td>
                            <td valign="top">{$sys_info.max_filesize}</td>
                            <td valign="top">{$lang.gd}：</td>
                            <td valign="top">{$sys_info.gd}</td>
                            <td valign="top">{$lang.web_server}：</td>
                            <td valign="top">{$sys_info.web_server}</td>
                        </tr>
                    </table>
                </ul>
            </div>
             {/if} 
        </div>
    </div>
    {include file="footer.htm"} </div>
</body>
</html>