<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{$lang.home}{if $ur_here} - {$ur_here} {/if}</title>
    <meta name="Copyright" content="HbData Design." />
    <link href="templates/public.css" rel="stylesheet" type="text/css">
    {include file="javascript.htm"}
    <script type="text/javascript" src="images/jquery.autotextarea.js"></script>
</head>
<body>
<div id="dcWrap">
    {include file="header.htm"}
    <div id="dcLeft">{include file="menu.htm"}</div>
    <div id="dcMain">
        {include file="ur_here.htm"}
        <div class="mainBox" style="{$workspace.height}">
             {if $rec eq 'default'} 文章列表TODO
            <h3><a href="{$action_link.href}" class="actionBtn add">{$action_link.text}</a>{$ur_here}</h3>
            <div class="filter">
                <form action="item.php?module={$cur}" method="post">
                    <select name="cat_id">
                        <option value="0">{$lang.uncategorized}</option>
                         {foreach from=$item_category item=cate}
                         {if $cate.cat_id eq $cat_id} 
                        <option value="{$cate.cat_id}" selected="selected">{$cate.mark} {$cate.cat_name}</option>
                         {else} 
                        <option value="{$cate.cat_id}">{$cate.mark} {$cate.cat_name}</option>
                         {/if} 
                         {/foreach} 
                    </select>
                    <input name="keyword" type="text" class="inpMain" value="{$keyword}" size="20" />
                    <input name="submit" class="btnGray" type="submit" value="{$lang.btn_filter}" />
                </form>
    <span>
        {if $cur eq 'product'}
        <a class="btnGray" href="item.php?module={$cur}&rec=re_thumb">{$lang.product_thumb}</a>
        {/if}
        {if $if_sort}
        <a class="btnGray" href="item.php?module={$cur}&rec=sort">{$lang.sort_close}</a>
        {else}
        <a class="btnGray" href="item.php?module={$cur}&rec=sort">{$lang.sort_item}{$module_name}</a>
        {/if}
    </span>
            </div>
             {if $if_sort} 
            <div class="homeSortRight">
                <ul class="homeSortBg">
                    {$sort_bg}
                </ul>
                <ul class="homeSortList">
                     {foreach from=$sort name=sort item=item} 
                    <li>
                        <em>{$item.title}</em>
                        <a href="item.php?module={$cur}&rec=del_sort&id={$item.id}" title="{$lang.sort_cancel}">X</a>
                    </li>
                     {/foreach} 
                </ul>
            </div>
             {/if} 
            <div id="list"{if $if_sort} class="homeSortLeft"{/if}>
            <form name="action" method="post" action="item.php?module={$cur}&rec=action">
                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                    <tr>
                        <th width="22" align="center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
                        <th width="40" align="center">{$lang.record_id}</th>
                        <th align="left">{$module_name}{$lang.name}</th>
                        <th width="150" align="center">{$module_name}{$lang.category}</th>
                        <th width="80" align="center">{$lang.add_time}</th>
                        <th width="80" align="center">{$lang.handler}</th>
                        {if $cur eq 'product'}
                        <th width="80" align="center">{$lang.show_price}</th>
                        {/if}
                    </tr>
                     {foreach from=$item_list item=item}
                    <tr>
                        <td align="center"><input type="checkbox" name="checkbox[]" value="{$item.id}" /></td>
                        <td align="center">{$item.id}</td>
                        {if $cur eq 'product'}
                        <td><a href="item.php?module={$cur}&rec=edit&id={$item.id}">{$item.name}</a></td>
                        {else}
                        <td><a href="item.php?module={$cur}&rec=edit&id={$item.id}">{$item.title}</a> {if $item.image}  <a href="../{$item.image}" target="_blank"><img src="images/icon_picture.png" width="16" height="16" align="absMiddle"></a> {/if} </td>
                        {/if}
                        <td align="center"> {if $item.cat_name} <a href="item.php?module={$cur}&cat_id={$item.cat_id}">{$item.cat_name}</a> {else} {$lang.uncategorized} {/if} </td>
                        <td align="center">{$item.add_time}</td>
                        <td align="center">
                             {if $if_sort} 
                            <a href="item.php?module={$cur}&rec=set_sort&id={$item.id}">{$lang.sort_btn}</a>
                             {else} 
                            <a href="item.php?module={$cur}&rec=edit&id={$item.id}">{$lang.edit}</a> | <a href="item.php?module={$cur}&rec=del&id={$item.id}">{$lang.del}</a>
                             {/if} 
                        </td>
                        {if $cur eq 'product'}
                        <td width="80" align="center">{$item.show_price}</td>
                        {/if}
                    </tr>
                     {/foreach}
                </table>
                <div class="action">
                    <select name="action" onchange="hbdataAction()">
                        <option value="0">{$lang.select}</option>
                        <option value="del_all">{$lang.del}</option>
                        <option value="category_move">{$lang.category_move}</option>
                    </select>
                    <select name="new_cat_id" style="display:none">
                        <option value="0">{$lang.uncategorized}</option>
                         {foreach from=$item_category item=cate}
                         {if $cate.cat_id eq $cat_id} 
                        <option value="{$cate.cat_id}" selected="selected">{$cate.mark} {$cate.cat_name}</option>
                         {else} 
                        <option value="{$cate.cat_id}">{$cate.mark} {$cate.cat_name}</option>
                         {/if} 
                         {/foreach} 
                    </select>
                    <input name="submit" class="btn" type="submit" value="{$lang.btn_execute}" />
                </div>
            </form>
        </div>
        <div class="clear"></div>
        {include file="pager.htm"}
         {/if} 
         {if $rec eq 'add' || $rec eq 'edit'} 文章添加或编辑TODO
        <h3><a href="{$action_link.href}" class="actionBtn">{$action_link.text}</a>{$ur_here}</h3>
        <form action="item.php?module={$cur}&rec={$form_action}" method="post" enctype="multipart/form-data">
            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                <tr>
                    <td width="90" align="right">{$module_name}{$lang.name}</td>
                    <td>
                        {if $cur eq 'product'}
                        <input type="text" name="name" value="{$item.name}" size="80" class="inpMain" />
                        {else}
                        <input type="text" name="title" value="{$item.title}" size="80" class="inpMain" />
                        {/if}
                    </td>
                </tr>
                <tr>
                    <td align="right">{$module_name}{$lang.category}</td>
                    <td>
                        <select name="cat_id">
                            <option value="0">{$lang.uncategorized}</option>
                             {foreach from=$item_category item=cate}
                             {if $cate.cat_id eq $item.cat_id}
                            <option value="{$cate.cat_id}" selected="selected">{$cate.mark} {$cate.cat_name}</option>
                             {else} 
                            <option value="{$cate.cat_id}">{$cate.mark} {$cate.cat_name}</option>
                             {/if} 
                             {/foreach} 
                        </select>
                    </td>
                </tr>
                {if $cur eq 'product'}
                <tr>
                    <td align="right">{$lang.product_price}</td>
                    <td>
                        <input type="text" name="price" value="{if $item.price}{$item.price}{else}0{/if}" size="40" class="inpMain" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" name="show_price" value="1" {if $rec eq 'add'}checked {else}{$showprice}{/if}/>{$lang.show_price}
                    </td>
                </tr>
                {/if}
                 {if $item.defined}
                <tr>
                    <td align="right" valign="top">{$lang.defined}</td>
                    <td>
                        <textarea name="defined" id="defined" cols="50" class="textAreaAuto" style="height:{$item.defined_count}0px">{$item.defined}</textarea>
                        <script type="text/javascript">
                            {literal}
                            $("#defined").autoTextarea({maxHeight:300});
                            {/literal}
                        </script>
                    </td>
                </tr>
                 {/if} 
                <tr>
                    <td align="right" valign="top">{$module_name}{$lang.content}</td>
                    <td>
                         KindEditor 
                        <script charset="utf-8" src="include/kindeditor/kindeditor.js"></script>
                        <script charset="utf-8" src="include/kindeditor/lang/zh_CN.js"></script>
                        <script>
                            {literal}
                            var editor;
                            KindEditor.ready(function(K) {
                                editor = K.create('#content');
                            });
                            {/literal}
                        </script>
                         /KindEditor 
                        <textarea id="content" name="content" style="width:780px;height:400px;" class="textArea">{$item.content}</textarea>
                    </td>
                </tr>
                <tr>
                    <td align="right">{$lang.thumb}</td>
                    <td>
                        <input type="file" name="image" size="38" class="inpFlie" />
                        {if $item.image}<a href="../{$item.image}" target="_blank"><img src="images/icon_yes.png"></a>{else}<img src="images/icon_no.png">{/if}</td>
                </tr>
                <tr>
                    <td align="right">{$lang.keywords}</td>
                    <td>
                        <input type="text" name="keywords" value="{$item.keywords}" size="114" class="inpMain" />
                    </td>
                </tr>
                <tr>
                    <td align="right">{$lang.description}</td>
                    <td>
                        <textarea name="description" cols="115" rows="3" class="textArea" />{$item.description}</textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="hidden" name="token" value="{$token}" />
                        <input type="hidden" name="image" value="{$item.image}">
                        <input type="hidden" name="id" value="{$item.id}">
                        <input name="submit" class="btn" type="submit" value="{$lang.btn_submit}" />
                    </td>
                </tr>
            </table>
        </form>
         {/if}
        {if $rec eq 're_thumb'}
        <h3><a href="{$action_link.href}" class="actionBtn">{$action_link.text}</a>{$ur_here}</h3>
        <script type="text/javascript">
            {literal}
            function mask(i) {
                document.getElementById('mask').innerHTML += i;
                document.getElementById('mask').scrollTop = 100000000;
            }
            function success() {
                var d=document.getElementById('success');
                d.style.display="block";
            }
            {/literal}
        </script>
        <dl id="maskBox">
            <dt><em>{$mask.count}</em> {if !$mask.confirm} <form action="item.php?module={$cur}&rec=re_thumb" method="post"><input name="confirm" class="btn" type="submit" value="{$lang.product_thumb_start}" /></form> {/if} </dt>
            <dd class="maskBg">{$mask.bg}<i id="success">{$lang.product_thumb_succes}</i></dd>
            <dd id="mask"></dd>
        </dl>
        {/if}
    </div>
</div>
{include file="footer.htm"}
</div>
 {if $rec eq 'default'} {$cur}列表
<script type="text/javascript">
    {literal}
    onload = function()
    {
        document.forms['action'].reset();
    }

    function hbdataAction()
    {
        var frm = document.forms['action'];

        frm.elements['new_cat_id'].style.display = frm.elements['action'].value == 'category_move' ? '' : 'none';
    }
    {/literal}
</script>
 {/if} 
</body>
</html>