<div id="menu">
    <ul class="top">
        <li><a href="index.php"><i class="home"></i><em>{$lang.menu_home} {if $unum.system} <span class="unum"><span>{$unum.system}</span></span> {/if} </em></a></li>
    </ul>
    <ul>
        <li{if $cur eq 'system'} class="cur"{/if}><a href="system.php"><i class="system"></i><em>{$lang.system}</em></a></li>
        <li{if $cur eq 'nav'} class="cur"{/if}><a href="nav.php"><i class="nav"></i><em>{$lang.nav}</em></a></li>
        <li{if $cur eq 'show'} class="cur"{/if}><a href="show.php"><i class="show"></i><em>{$lang.show}</em></a></li>
        <li{if $cur eq 'page'} class="cur"{/if}><a href="page.php"><i class="page"></i><em>{$lang.menu_page}</em></a></li>
        <li{if $cur eq 'category_manage'} class="cur"{/if}><a href="category_manage.php"><i class="category_manage"></i><em>{$lang.category_manage}</em></a> </li>
    </ul>
     {if !$workspace.menu_column && !$workspace.menu_single} 如果没有模块则调用单页面菜单 
     {foreach from=$workspace.menu_simple item=menu} 
    <ul>
        <li{if $cur eq $menu.unique_id} class="cur"{/if}><a href="page.php?rec=edit&id={$menu.id}"><i></i><em>{$menu.page_name}</em></a></li>
         {foreach from=$menu.child item=child} 
        <li{if $cur eq $child.unique_id} class="cur"{/if}><a href="page.php?rec=edit&id={$child.id}"><i class="menuPage"></i><em>{$child.page_name}</em></a></li>
         {/foreach} 
    </ul>
     {/foreach} 
     {/if} 
     {foreach from=$workspace.menu_column item=menu} 
    <ul>
        <li {if $cur eq $menu.name_category} class="cur" {/if} ><a href="item_category.php?module={$menu.name}"><i class="{$menu.name}Cat"></i><em>{$menu.lang_category}</em></a></li>
        <li {if $cur eq $menu.name} class="cur" {/if} ><a href="item.php?module={$menu.name}"><i class="{$menu.name}"></i><em>{$menu.lang}</em></a></li>
    </ul>
     {/foreach} 
     {if $workspace.menu_single} 
    <ul>
         {foreach from=$workspace.menu_single item=menu} 
        <li {if $cur eq $menu.name} class="cur" {/if}><a href="{$menu.name}.php"><i class="{$menu.name}"></i><em>{$menu.lang} {if $menu.name eq 'plugin'} {if $unum.plugin}<span class="unum"><span>{$unum.plugin}</span></span>{/if} {/if} </em></a></li>
         {/foreach} 
    </ul>
     {/if} 
    <ul class="bot">
        <li {if $cur eq 'backup'} class="cur" {/if}><a href="backup.php"><i class="backup"></i><em>{$lang.backup}</em></a></li>
        <li {if $cur eq 'guestbook'} class="cur" {/if}><a href="guestbook.php"><i class="guestbook"></i><em>{$lang.guestbook}</em></a></li>
        <li {if $cur eq 'theme'} class="cur" {/if}><a href="theme.php"><i class="theme"></i><em>{$lang.theme} {if $unum.theme} <span class="unum"><span>{$unum.theme}</span></span> {/if} </em></a></li>
        <li {if $cur eq 'manager_log'} class="cur" {/if}><a href="manager.php?rec=manager_log"><i class="managerLog"></i><em>{$lang.manager_log}</em></a></li>
        <li {if $cur eq 'manager'} class="cur" {/if}><a href="manager.php"><i class="manager"></i><em>{$lang.manager}</em></a></li>
        <li {if $cur eq 'role'} class="cur" {/if}><a href="role.php"><i class="role"></i><em>{$lang.role_manage}</em></a></li>

    </ul>
</div>