<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{$lang.home}{if $ur_here} - {$ur_here} {/if}</title>
    <meta name="Copyright" content="HbData Design." />
    <link href="templates/public.css" rel="stylesheet" type="text/css">
    {include file="javascript.htm"}
</head>
<body>
<div id="dcWrap">
    {include file="header.htm"}
    <div id="dcLeft">{include file="menu.htm"}</div>
    <div id="dcMain">
        {include file="ur_here.htm"}
        <div id="role" class="mainBox" style="{$workspace.height}">
            <h3> {if $rec neq 'manager_log'} 角色列表 <a href="{$action_link.href}" class="actionBtn">{$action_link.text}</a> {/if} {$ur_here}</h3>
            {if $rec eq 'default'} 管理员列表
            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                <tr>
                    <th align="center">{$lang.role_id}</th>
                    <th align="center">{$lang.role_name}</th>
                    <th align="center">{$lang.role_description}</th>
                </tr>
                {foreach from=$role_list item=role}
                <tr>
                    <td align="center">{$role.role_id}</td>
                    <td>{$role.role_title}</td>
                    <td>{$role.role_description}</td>
                </tr>
                {/foreach}
            </table>
            {/if}
            {if $rec eq 'add'} 角色添加
            <form action="role.php?rec=insert" method="post">
                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                    <tr>
                        <td width="100" align="right">{$lang.role_name}</td>
                        <td>
                            <input type="text" name="role_name" size="40" class="inpMain" />
                        </td>
                    </tr>
                    <tr>
                        <td width="100" align="right">{$lang.role_description}</td>
                        <td>
                            <input type="text" name="role_description" size="40" class="inpMain" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="hidden" name="token" value="{$token}" />
                            <input type="submit" name="submit" class="btn" value="{$lang.btn_submit}" />
                        </td>
                    </tr>
                </table>
            </form>
            {/if}
            {if $rec eq 'edit'} 角色编辑
            <form action="role.php?rec=update" method="post">
                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                    <tr>
                        <td width="100" align="right">{$lang.manager_username}</td>
                        <td>
                            <input type="text" name="user_name" value="{$manager_info.user_name}" size="40" class="inpMain" {if $user.action_list neq 'ALL'}readonly="true"{/if}/>
                        </td>
                    </tr>
                    <tr>
                        <td width="100" align="right">{$lang.manager_email}</td>
                        <td>
                            <input type="text" name="email" value="{$manager_info.email}" size="40" class="inpMain" />
                        </td>
                    </tr>
                    {if $if_check}
                    <tr>
                        <td align="right">{$lang.manager_old_password}</td>
                        <td>
                            <input type="password" name="old_password" size="40" class="inpMain" />
                        </td>
                    </tr>
                    {/if}
                    <tr>
                        <td align="right">{$lang.manager_new_password}</td>
                        <td>
                            <input type="password" name="password" size="40" class="inpMain" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">{$lang.manager_new_password_confirm}</td>
                        <td>
                            <input type="password" name="password_confirm" size="40" class="inpMain" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="hidden" name="token" value="{$token}" />
                            <input type="hidden" name="id" value="{$manager_info.user_id}" />
                            <input type="submit" name="submit" class="btn" value="{$lang.btn_submit}" />
                        </td>
                    </tr>
                </table>
            </form>
            {/if}
        </div>
    </div>
    {include file="footer.htm"}
</div>
</body>
</html>