<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{$lang.home}{if $ur_here} - {$ur_here} {/if}</title>
    <meta name="Copyright" content="HbData Design." />
    <link href="./resources/css/public.css" rel="stylesheet" type="text/css">
    {include file="javascript.htm"}
</head>
<body>
<div id="Wrap">
    {include file="header.htm"}
    <div id="Left">{include file="menu.htm"}</div>
    <div id="Main">
        {include file="ur_here.htm"}
        <div id="theme" class="mainBox" style="{$workspace.height}">
            <h3>{$ur_here}</h3>
            <ul class="tab">
                <li><a href="theme.php"{if $rec eq 'default'} class="selected"{/if}>{$lang.theme_list}</a></li>
            </ul>
             {if $rec eq 'default'} 
            <div class="enable">
                <h2>{$lang.theme_enabled}</h2>
                <p><img src="{$theme_enable.image}" width="280" height="175"></p>
                <dl>
                    <dt>{$theme_enable.theme_name}</dt>
                    <dd>{$lang.version}：{$theme_enable.version}</dd>
                    <dd>{$lang.author}：<a href="{$theme_enable.author_uri}" target="_blank">{$theme_enable.author}</a></dd>
                    <dd>{$lang.theme_description}：{$theme_enable.description}</dd>
                </dl>
            </div>
            <div class="themeList">
                <h2>{$lang.theme_installed}</h2>
                 {foreach from=$theme_list item=theme} 
                <dl>
                    <p><a href="theme.php?rec=enable&unique_id={$theme.unique_id}"><img src="{$theme.image}" width="280" height="175"></a></p>
                    <dt>{$theme.theme_name} {$theme_enable.version}</dt>
                    <dd>{$lang.author}：<a href="{$theme.author_uri}" target="_blank">{$theme.author}</a></dd>
                    <dd class="btnList"><a href="theme.php?rec=del&unique_id={$theme.unique_id}" class="del">{$lang.del}</a> <span><a href="theme.php?rec=enable&unique_id={$theme.unique_id}">{$lang.enabled}</a> <a href="javascript:void(0)" >{$lang.theme_preview}</a></span></dd>
                </dl>
                 {/foreach} 
            </div>
             {/if}
        </div>
    </div>
    {include file="footer.htm"}
</div>
</body>
</html>