<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{$lang.home}{if $ur_here} - {$ur_here} {/if}</title>
    <meta name="Copyright" content="HbData Design." />
    <link href="templates/public.css" rel="stylesheet" type="text/css">
    {include file="javascript.htm"}
</head>
<body>
<div id="dcWrap">
    {include file="header.htm"}
    <div id="dcLeft">{include file="menu.htm"}</div>
    <div id="dcMain">
        {include file="ur_here.htm"}
        <div id="role" class="mainBox" style="{$workspace.height}">
            <h3> {if $rec eq edit}<a href="{$action_link.href}" class="actionBtn">{$action_link.text}</a>{/if} {$ur_here}</h3>
            {if $rec eq 'default'} 用户角色列表
            {$test}
            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                <tr>
                    <th align="center">{$lang.record_id}</th>
                    <th align="center">{$lang.user_name}</th>
                    <th align="center">{$lang.role_description}</th>
                    <th align="center">{$lang.handler}</th>
                </tr>
                {foreach from=$user_role_list item=user_role}
                <tr>
                    <td align="center">{$user_role.user_id}</td>
                    <td>{$user_role.user_name}</td>
                    <td>
                        {foreach from=$user_role.role_title item=user_role_title}
                            {$user_role_title.role_title}
                        {/foreach}
                    </td>
                    <td align="center"><a href="user_role.php?rec=edit&id={$user_role.user_id}">{$lang.edit}</a> | <a href="user_role.php?rec=del&id={$user_role.user_id}">{$lang.del}</a></td>
                </tr>
                {/foreach}
            </table>
            {/if}
            {if $rec eq 'edit'} 用户权限编辑
            <form action="role_user.php?rec=update" method="post">
                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                    <tr>
                        <td width="100" align="right">{$lang.user_name}</td>
                        <td>{$user_info.user_name}</td>
                    </tr>
                    <tr>
                        <td width="100" align="right">{$lang.role_title}</td>
                        <td>
                        {foreach from=$role_list item=role}
                            {$role.role_title}<input type="checkbox" name="{$role.role_id}" size="40" value="{$role.role_id}" />
                        {/foreach}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="hidden" name="token" value="{$token}" />
                            <input type="hidden" name="id" value="{$user_info.user_id}" />
                            <input type="submit" name="submit" class="btn" value="{$lang.btn_submit}" />
                        </td>
                    </tr>
                </table>
            </form>
            {/if}
        </div>
    </div>
    {include file="footer.htm"}
</div>
</body>
</html>